@font-face {
    font-family: USDeclaration;
    src: url("../fonts/USDeclaration.ttf");
}
body { 
    background: url("../images/old-and-worn-parchment-paper-494x494.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1, h2, h3, h4, h5 {
    color: #353;
}
h1 {
    font-family: USDeclaration;
    font-size: 4rem;
    color: #242;
    opacity: 0.8;
}
h4.note {
    border-bottom: 1px solid #898;
    width: 100%;
}

/* candidate labels */
.pcandidate {
    background-image: none;
    box-shadow: none;
    width: 9.5em;
    text-transform: uppercase;
}
.clinton {
    background-color: #a33;
    border-color: #a33;
}
.sanders {
    background-color: #595;
    border-color: #595;
}
.uncommitted {
    background-color: transparent;
    border-color: #343;
}

.list-group-item {
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid #aba;
}

.list-group-item a {
    font-weight:bold;
}

.candidate-thumbnail {
    font-size: 4rem;
    border: 1px solid #595;
    padding: 5px;
}
.candidate-thumbnail img {
    border: none;
    margin-right:0.5em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}
.opponents {
    /*border-left: 1px solid #595;*/
}


/* bootstrap overrides */

.table-striped>tbody>tr:nth-of-type(odd) {
    opacity: 0.3;
}

.btn-default:hover, .btn-default:focus {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: #595;
}

.navbar-brand {
    font-family: USDeclaration;
    font-size: 1.5rem;
    color: #242;
}
.navbar-default {
    border-color: rgb(220, 235, 220);
    background-color: rgba(0, 33, 0, .10);
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, .5) 0, rgba(220, 235, 220, .5) 100%);
}
.navbar-default .navbar-nav>li>a {
    color: #242;
}
