{% extends "base.html" %}
{% block content %}

<h2 class="text-center">About Us</h1>
<p>{% lorem 2 p %}
<h4>Data Sources</h4>
<ul class="list-unstyled">
<li><a href="https://sunlightfoundation.com/">Sunlight Foundation</a></li>
<li><a href="https://opensecrets.org/">Open Secrets</a></li>
<li><a href="https://docs.google.com/spreadsheets/d/1MZGzbSWESE8t18GGzrgc2FfL0b5tz-vmNf-F_-w5yN4/edit">Sanders Democrats</a></li>
<li><a href="https://en.wikipedia.org/wiki/List_of_Democratic_Party_superdelegates,_2016">List of Democratic Party superdelegates, 2016</a></li>
</ul>

{% endblock %}
