{% extends "base.html" %}
{% load email_obfuscator %}
{% block title %}About{% endblock %}
{% block canonical_url %}{{ request.build_absolute_uri }}{% endblock %}
{% block og_url %}{{ request.build_absolute_uri  }}{% endblock %}
{% block og_title %}About Dear Superdelegate,{% endblock %}
{% block og_description %}All about DearSuperdelegate.com{% endblock %}
{% block og_image %}{% endblock %}
{% block extra_header %}
<script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock %}
{% block content %}
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '228547207512420',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<h2 class="text-center">About</h1>
<div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-5">
        <h3>Thanks for visiting</h3>
        <p>We're trying to create a more democratic Democratic party, and get Bernie and allies elected!</p>
        <p>Please send any corrections or additions to {{ 'update@dearsuperdelegate.com'|obfuscate_mailto }}.</p>
        <p>Special thanks to <a target="_blank" href="http://berniecrats.net">The Berniecrats Network</a> for compiling the list of pro-Bernie candidates.
        <h4>Help spread the word</h4>
        {# TWITTER #}
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://dearsuperdelegate.com" data-text="Dear Super Delegate," data-via="infosuperdel" data-related="infosuperdel" data-hashtags="dearsuperdelegate">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        {# GOOGLE+ #}
        <div class="g-plus" data-action="share" data-height="24" data-href="https://dearsuperdelegate.com/"></div>
        {# FACEBOOK #}
<div class="fb-like" data-href="https://dearsuperdelegate.com/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
        <p>&nbsp;</p>
        <h4>Help us cover our costs</h4>
        <p>If you find this site useful and would like to help out, please consider making a donation.</p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="3W8YAF9YXJ7MY">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
    <div class="col-xs-12 col-sm-offset-1 col-sm-5">
        <h3>Technical Notes</h3>
        <h4>Data Sources</h4>
            <p>All data sources provide information that is in the
            public domain.  We would like to thank the following:</p>
            <ul class="list-unstyled">
            <li><a target="_blank" href="https://sunlightfoundation.com/">Sunlight Foundation</a></li>
            <li><a target="_blank" href="https://opensecrets.org/">Open Secrets</a></li>
            <li><a target="_blank" href="http://berniecrats.net/">The Berniecrats Network</a></li>
            <li><a target="_blank" href="https://en.wikipedia.org/wiki/List_of_Democratic_Party_superdelegates,_2016">List of Democratic Party superdelegates, 2016</a></li>
        </ul>
        <h4>Superdelegate Count</h4>
        <p>Note that Democrats Abroad delegates are whole people but
        at the convention they only get &half; a vote.  This leads to apparent 
        discrepancies between delegate count and delegate votes.</p>

        <h4>Privacy Policy</h4>
        <p>Clink to view our <a href="{% url 'privacy_policy' %}">privacy
        policy</a>.
    </div>
</div> {% endblock %}
