{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Bernie Candidates{% endblock %}
{% spaceless %}
{% block canonical_url %}{{ request.build_absolute_uri }}{% endblock %}
{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}
{% block og_title %}Bernie Candidates{% endblock %}
{% block og_description %}These 'Bernie Candidates' are running for office.{% endblock %}
{% endspaceless %}
{% block content %}
    {% if state %}
    <h2 class="text-center">{{state.name}} Candidates</h1>
    {% else %}
    <h2 class="text-center">Meet the Candidates</h1>
    {% endif %}
    
    <p><strong>These "Bernie candidates" share the vision and values
    of Bernie Sanders.  We hope you will join us in supporting
    them.</strong></p>

    {% crispy form %}

    <ul class="list-group">
    {% for c in candidate_list %}
        {% include "adrestia/candidate_row.html" %}
    {% endfor %}
    </ul>

    <strong class="text-muted">
    {{ candidate_list.count }} candidates met your search criteria.
    </strong>

</table>
{% endblock %}
