{% load email_obfuscator %}
{% load adrestia_tags %}
{% load thumbnail %}
<div class="list-group-item">
    <div class="row">
        <div class="col-xs-3 col-sm-3">
            <a href="{% url 'candidate_detail' pk=c.id %}">{{ c.name }}</a>
        </div>
        <div class="col-xs-2 col-sm-2">
            {% candidate_office c %}
            {% comment %}
            {{ c.state }}&nbsp;{{ c.district }} {{ c.level}} {{ c.office }}
            {% endcomment %}
        </div>
        <div class="col-xs-2 col-sm-3">
            {% incumbent_or_opponent c %}&nbsp;{% election_info c %}
            {% comment %}
            {% contains c.name c.legislator.lastname as legislator_match %}
            {% if legislator_match %}
                Incumbent
            {% elif c.legislator %}
                {{ c.legislator.firstname }} {{ c.legislator.lastname }}
            {% elif c.state_legislator and contains c.name c.state_legislater.last_name %}
                Incumbent
            {% elif c.state_legislator %}
                {{ c.state_legislator.full_name }}
            {% endif %}
            {% endcomment %}
        </div>
        <div class="col-xs-12 col-sm-2">
            <ul class='list-inline'>
            {% if c.twitter_id %}
            <li><a target="_blank" title="Tweet, Tweet!" href="https://twitter.com/{{ c.twitter_id }}"><i class="fa fa-twitter"></i></a>
            {% elif c.legislator.twitter_id %}
            <li><a target="_blank" title="Tweet, Tweet!" href="https://twitter.com/{{ c.legislator.twitter_id }}"><i class="fa fa-twitter"></i></a>
            {% endif %}
            {% if c.facebook_id %}
            <li><a target="_blank" title="Follow on Facebook"href="https://facebook.com/{{ c.facebook_id }}"><i class="fa fa-facebook"></i></a>
            {% elif c.legislator.facebook_id %}
            <li><a target="_blank" title="Follow on Facebook" href="https://facebook.com/{{ c.legislator.facebook_id }}"><i class="fa fa-facebook"></i></a>
            {% endif %}
            {% if c.legislator.oc_email %}
            <li><a title="Send an email" href="mailto:{{ c.legislator.oc_email|obfuscate }}"><i class="fa fa-envelope"></i></a>
            {% endif %}
            {% if c.website_url %}
            <li><a target="_blank" title="Go to web site" href="{{ c.website_url }}"><i class="fa fa-globe"></i></a>
            {% endif %}
            {% if c.donate_url %}
            <li><a target="_blank" title="Make a donation!" href="{{ c.donate_url }}"><i class="fa fa-usd"></i></a>
            {% endif %}
            </ul>
        </div>
        <div class="col-xs-12 col-sm-2 image-shadow">
                {% if c.image %}
                    {% thumbnail c.image "x75" as im %} 
                    <img src="{{im.url}}"
                        width="{{im.width}}"
                        height="{{im.height}}"/>
                    {% endthumbnail %}

                {% comment %}
                {% elif c.image_url %}
                    <a target="_blank" href="{{c.profile_url}}"><img class="thumbnail-img" src="{{c.image_url}}"/></a>
                {% elif c.state_legislator.photo_url %}
                    <a target="_blank" href="{{c.state_legislator.url}}"><img class="thumbnail-img" src="{{c.state_legislator.photo_url}}"/></a>
                {% endcomment %}

                {% endif %}
        </div>
    </div>
</div>
