{% extends "base.html" %}
{% load humanize %}
{% load thumbnail %}
{% load email_obfuscator %}
{% load adrestia_tags %}
{% spaceless %} 
{% block title %}Bernie Candidate{% endblock %}
{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}
{% block og_title %}{{ candidate.name }}{% endblock %}
{% block og_description %}{{ candidate.name }} is running for office in {{ candidate.state.name }}{% endblock %}
{% comment %} 
{% if candidate.image %}
{% block og_image %}{{ candidate.image.url }}{% endblock %}
{% endif %}
{% endcomment %} 
{% endspaceless %}
{% block content %}
<script>
$(function () {
      $('[data-toggle="popover"]').popover()
})
</script>
<div class="row">
    <div class="col-xs-12 col-sm-7">
        {% if candidate.image %}
            {% thumbnail candidate.image "x200" as im %} 
            <img src="{{im.url}}"
                width="{{im.width}}"
                height="{{im.height}}"/>
            {% endthumbnail %}
        {% endif %}
        <h2>
            <span class="sanders">
            {% if candidate.profile_url %}
            <a target="_blank" href="{{ candidate.profile_url }}">{% title_and_name candidate True %}</a>
            {% else %}
                {% title_and_name candidate True %}
            {% endif %}
        </span>
        {% if candidate.donate_url %}
            <a type="button" target="_blank" href="{{ candidate.donate_url }}" class="btn btn-success">Donate!</a> 
        {% else %}
        <a type="button" href="#"
            class="btn btn-warning",
            data-toggle="popover",
            title="Hey!",
            data-trigger="focus",
            data-content="We don't have a link to this candidate's donation page!  To update candidate information, please contact {{ 'update@dearsuperdelegate.com'|obfuscate }}",
            >Donate!</a> 
        {% endif %}
        </h2>
        <h3>
            Status: {% incumbent_or_opponent candidate %},
            {{ candidate.state }} {% if candidate.district %} {{ candidate.district }} {% endif %}<br/>
            Party: {% party candidate %}
            {% election_info candidate %}
    </h3>

        {% if candidate.profile_url or candidate.website_url or candidate.facebook_id or candidate.twitter_id or candidate.endorsement_url %}
            <h4 class="note">Links</h4>
            {% if candidate.profile_url %}
                <p><a target="_blank" href="{{ candidate.profile_url }}"><i class="fa fa-user"></i> Profile</a></p>
            {% endif %}
            {% if candidate.website_url %}
                <p><a target="_blank" href="{{ candidate.website_url }}"><i class="fa fa-globe"></i> Website</a></p>
            {% endif %}
            {% if candidate.facebook_id %}
                <p><a target="_blank" href="https://facebook.com/{{ candidate.facebook_id }}"><i class="fa fa-facebook"></i> Facebook</a></p>
            {% endif %}
            {% if candidate.twitter_id %}
                <p><a target="_blank" href="https://twitter.com/{{ candidate.twitter_id }}"><i class="fa fa-twitter"></i> Twitter</a></p>
            {% endif %}
            {% if candidate.endorsement_url %}
                <p><a target="_blank" href="{{ candidate.endorsement_url }}"><i class="fa fa-thumbs-up"></i> Endorsement</a></p>
            {% endif %}
        {% endif %}


        {% if candidate.legislator  or candidate.state_legislator %}
            <h3 class="">More Info</h4>
            {% if candidate.legislator %}
            {% include "adrestia/legislator_info.html" %}
            {% elif candidate.state_legislator %} 
            {% include "adrestia/state_legislator_info.html" %}
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-5">
        {% if candidate.notes %}
        <h4 class="note">Notes</h4>
        <p>{{candidate.notes}}</p>
        {% endif %}
    </div>
</div>
{% endblock %}
