{% extends "base.html" %}
{% load humanize %}
{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-5">
        {% if candidate.image_url %}
            <img width="200px" src="{{ candidate.image_url}}"/>
        {% endif %}
        <h2>
            <span class="sanders">
            {% if candidate.profile_url %}
                <a href="{{ candidate.profile_url }}">{{ candidate.name }}</a>
            {% else %}
                {{ candidate.name }}
            {% endif %}
        </span>
            <a type="button" class="btn btn-success">Donate!</a> 
        </h2>
        <h3>
        Running for: {{ candidate.state }} {% if candidate.district %} {{ candidate.district }} {% endif %}
    </h3>

        {% if candidate.profile_url %}
        <h4 class="note">Profile Page</h4>
        <p>
            <a href="{{ candidate.profile_url }}">{{ candidate.profile_url }}</a>
        </p>
        {% endif %}

        {% if candidate.legislator %}
        {% include "adrestia/legislator_info.html" %}
        {% elif candidate.state_legislator %} 
        {% include "adrestia/state_legislator_info.html" %}
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-5">
        {% if candidate.notes %}
        <h4 class="note">Notes</h4>
        <p>{{candidate.notes}}</p>
        {% endif %}
    </div>
</div>
{% endblock %}
