{% extends "base.html" %}
{% load humanize %}
{% block title %}Chart{% endblock %}

{% block content %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<h2 class="text-center">Chart</h1>
    <div class="row">
        <div class="col-xs-12 col-md-6">
        <p>This chart reveals the gulf between establishment Super
        Delegates and the American voters.  Sec. Clinton gets
        {{ clinton.data.0 }}% of the Super Delegates, but only
        {{ clinton.data.1 }}% of Democratic primary voters.</p>

        <p> Why is it that the superdelegates are so out of step with
        the voters?  Superdelegates are free to vote for whomever they
        want. Here it is summed up by one well-known superdelegate: </p>

        <blockquote>
            @D_Born @BernieSanders Super delegates don't "represent
            people" I'm not elected by anyone. I'll do what I think is
            right for the country<br/>
            — Howard Dean (@GovHowardDean) March 5, 2016
        </blockquote>

            <p>
                Many of the superdelegates made early pledges to
                Sec. Clinton, even before other candidates had announced.
                That is part of the game.  Early endorsements have the
                effect of discouraging would-be challengers.  </p>

                <p> However, there is something else at play in
                this primary.  Some 33 state Democratic parties made
                deals with the Hillary Clinton campaign and a joint
                fundraising entity called The Hillary Victory Fund.
                The arrangement, while technically legal, allows wealthy
                donors to circumvent already lax campaign finance laws.
                Additionally,
                </p>
                <blockquote>"One could reasonably infer... that
                the Super Delegates of these various partner
                states would either pledge loyalty to Clinton,
                or, at the least, not endorse Senator Sanders."<br/>
                &mdash; <a href="http://www.counterpunch.org/2016/04/01/how-hillary-clinton-bought-the-loyalty-of-33-state-democratic-parties/">How Hillary Clinton Bought the Loyalty of 33 State Democratic Parties</a>
                </blockquote>.

        </div>
        <div class="col-xs-12 col-md-6">
            <div id="delegate-chart"></div>
            <div id="delegate-table">
                <table class="table table-responsive table-striped">
                    <tr><th>Candidate</th><th>Pledged</th><th>Super</th></tr>
                    {% for d in series_data %}
                        <tr><td>{{d.name|intcomma}}</td>
                            <td>{{d.pcount|intcomma}}</td>
                            <td>{{d.scount|intcomma}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

<script>
$(function () {
 Highcharts.setOptions({
        colors: ['#AA3333', '#559955', '#999999']
    });
    $('#delegate-chart').highcharts({
        chart: {
            type: 'bar',
            backgroundColor: 'rgba(255, 255, 255, 0.20)',
/*
            borderColor: '#FF0000',
            borderWidth: 1
*/
        },
        title: {
            text: 'Delegate %'
        },
        xAxis: {
            categories: ['Super', 'Pledged']
        },
        yAxis: {
            min: 0,
            title: {
                text: ''
            }
        },
        legend: {
            reversed: true
        },
        plotOptions: {
            series: {
                stacking: 'percent',
            }
        },
        {% autoescape off %}
        series: eval('{{ series_json }}')
        {% endautoescape %}
    });
});
</script>
{% endblock %}
