{% extends "base.html" %}
{% load humanize %}
{% load email_obfuscator %}
{% load thumbnail %}
{% load adrestia_tags %}
{% block title %}Super Delegates{% endblock %}
{% block content %}
<script>
$(function () {
      $('[data-toggle="popover"]').popover()
})
</script>
<div class="row">
    <div class="col-xs-12 col-sm-5">
        <h2>
            {% if delegate.url %}
                <a href="{{ delegate.url }}">{% title_and_name delegate True %}</a>
            {% else %}
                {{ delegate.title_and_name }}
            {% endif %}
        </h2>
        <h3>{% if delegate.candidate.name != 'Uncommitted' %}Pledged to {% endif %}
            {% if delegate.candidate.name == "Sanders" %}
                <span class="sanders">
                {{ delegate.candidate }}
                </span>
            {% elif delegate.candidate.name == "Clinton" %}
                <span class="clinton">
                {{ delegate.candidate }}
                </span>
            {% elif delegate.candidate.name == "Uncommitted" %}
                <span class="uncommitted">
                {{ delegate.candidate }}
                </span>
            {% endif %}
        </h3>

        {% if member_profile %}
        <p>Estimated Net Worth: ${{member_profile.net_low|intcomma}} &mdash; ${{member_profile.net_high|intcomma}}</p>
        {% endif %}


        {% if contributors %}
        <h4>Top Contributors in {{ meta_contributors.cycle }}</h4>
        <ul class="list-unstyled">
        {% for c in contributors %}
        <li>{{c.attributes.org_name}} ${{c.attributes.total|intcomma}}</li>
        {% endfor %}
        </ul>
        <p class="small"><a href="{{meta_contributors.source}}">{{meta_contributors.origin}}</a></p>
        <p class="small">{{meta_contributors.notice}}</p>
        {% endif %}

        {% if delegate.address %}
            <h4>
                <address class=''>
                    {{ delegate.address|linebreaksbr }}
                </address>
            </h4>
        {% elif delegate.legislator.city_state_zip %}
        <h4>
            <address>
                {% title_and_name delegate %}<br/>
                {{ delegate.legislator.congress_office }}<br/>
                {{ delegate.legislator.city_state_zip }}
            </address>
        </h4>
        {% endif %}


        {% if delegate.website_url %}
        <h4><i class="fa fa-globe"></i> <a href="{{ delegate.website_url }}">{{ delegate.website_url }}</a></h4>
        {% endif %}
        {% if delegate.phone %}
        <h4><i class="fa fa-phone"></i> {{ delegate.phone }}</h4>
        {% elif delegate.legislator.phone %}
        <h4><i class="fa fa-phone"></i> {{ delegate.legislator.phone }}</h4>
        {% endif %}
        {% if delegate.fax %}
        <h4><i class="fa fa-fax"></i> {{ delegate.fax }}</h4>
        {% elif delegate.legislator.fax %}
        <h4><i class="fa fa-fax"></i> {{ delegate.legislator.fax }}</h4>
        {% endif %}

        <h4>
        <ul class='list-inline'>
        {% if delegate.twitter_id %}
        <li><a target="_blank" href="https://twitter.com/{{ delegate.twitter_id }}"><i class="fa fa-twitter"></i></a>
        {% elif delegate.legislator.twitter_id %}
        <li><a target="_blank" href="https://twitter.com/{{ delegate.legislator.twitter_id }}"><i class="fa fa-twitter"></i></a>
        {% endif %}
        {% if delegate.facebook_id %}
        <li><a target="_blank" href="https://facebook.com/{{ delegate.facebook_id }}"><i class="fa fa-facebook"></i></a>
        {% elif delegate.legislator.facebook_id %}
        <li><a target="_blank" href="https://facebook.com/{{ delegate.legislator.facebook_id }}"><i class="fa fa-facebook"></i></a>
        {% endif %}
        {% if delegate.legislator.youtube_url %}
        <li><a href="{{ delegate.legislator.youtube_url }}"><i class="fa fa-youtube"></i></a>
        {% endif %}
        {% if delegate.email %}
        <li><a href="mailto:{{ delegate.email|obfuscate }}"><i class="fa fa-envelope"></i></a>
        {% elif delegate.legislator.oc_email %}
        <li><a href="mailto:{{ delegate.legislator.oc_email|obfuscate }}"><i class="fa fa-envelope"></i></a>
        {% endif %}
        {% if delegate.webform_url %}
        <li><a href="{{ delegate.webform_url }}"><i class="fa fa-envelope-o"></i></a>
        {% endif %}
        </ul>
        </h4>
    </div>
    {% if delegate.opponents.all %}
    <div class="col-xs-12 col-sm-7">
        <h3>Opponents</h3>
        <p>{{ delegate.title_and_name }} is being challenged by &mdash;</p>
        <ul class="list-unstyled">
        {% for o in delegate.opponents.all %}
        <div class="img-rounded opponent">
        <a href="{% url 'candidate_detail' pk=o.id %}">
            {% if o.image %}
                {% thumbnail o.image "x200" as im %}
                <img src="{{im.url}}"
                    width="{{im.width}}"
                    height="{{im.height}}"/>
                {% endthumbnail %}
            {% endif %}
            {{ o.name }}</a>

                {% if o.donate_url %}
                    <a type="button" href="{{ o.donate_url }}" class="btn btn-success">Donate!</a> 
                {% else %}
                <a type="button" href="#"
                    class="btn btn-warning",
                    data-toggle="popover",
                    title="Hey!",
                    data-trigger="focus",
                    data-content="We don't have a link to this candidate's donation page!  To update candidate information, please contact {{ 'info@dearsuperdelegate.com'|obfuscate }}",
                    >Donate!</a> 
                {% endif %}


        </div>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-xs-12 col-sm-4">
        {% if delegate.footnotes.all %}
        <h4 class="note">Notes</h4>
        {% for f in delegate.footnotes.all %}
        <p>[{{f.id}}] <a href="{{ f.url }}">{{ f.text }}</a></p>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
