{% extends "base.html" %}
{% load humanize %}
{% load email_obfuscator %}
{% load thumbnail %}
{% block title %}Super Delegates{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-5">
        <h2>
            {% if delegate.url %}
                <a href="{{ delegate.url }}">{{ delegate.title_and_name }}</a>
            {% else %}
                {{ delegate.title_and_name }}
            {% endif %}
            {% if delegate.candidate.name == "Sanders" %}
            <a type="button" class="btn btn-success">Donate!</a> 
            {% endif %}
        </h2>
        <h3>{% if delegate.candidate.name != 'Uncommitted' %}Pledged to {% endif %}
            {% if delegate.candidate.name == "Sanders" %}
                <span class="sanders">
                {{ delegate.candidate }}
                </span>
            {% elif delegate.candidate.name == "Clinton" %}
                <span class="clinton">
                {{ delegate.candidate }}
                </span>
            {% elif delegate.candidate.name == "Uncommitted" %}
                <span class="uncommitted">
                {{ delegate.candidate }}
                </span>
            {% endif %}
        </h3>

        {% if member_profile %}
        <p>Estimated Net Worth: ${{member_profile.net_low|intcomma}} &mdash; ${{member_profile.net_high|intcomma}}</p>
        {% endif %}


        {% if contributors %}
        <h4>Top Contributors in {{ meta_contributors.cycle }}</h4>
        <ul class="list-unstyled">
        {% for c in contributors %}
        <li>{{c.attributes.org_name}} ${{c.attributes.total|intcomma}}</li>
        {% endfor %}
        </ul>
        <p class="small"><a href="{{meta_contributors.source}}">{{meta_contributors.origin}}</a></p>
        <p class="small">{{meta_contributors.notice}}</p>
        {% endif %}

        <h4>
            <address>
                {{ delegate.legislator.title_and_name }}<br/>
                {{ delegate.legislator.congress_office }}<br/>
                {{ delegate.legislator.city_state_zip }}
            </address>
        </h4>
        {% if delegate.legislator.phone %}
        <h4><i class="fa fa-phone"></i> {{ delegate.legislator.phone }}</h4>
        {% endif %}
        {% if delegate.legislator.fax %}
        <h4><i class="fa fa-fax"></i> {{ delegate.legislator.fax }}</h4>
        {% endif %}
        <h4>
        <ul class='list-inline'>
        {% if delegate.legislator.twitter_id %}
        <li><a href="https://twitter.com/{{ delegate.legislator.twitter_id }}"><i class="fa fa-twitter"></i></a>
        {% endif %}
        {% if delegate.legislator.facebook_id %}
        <li><a href="https://facebook.com/{{ delegate.legislator.facebook_id }}"><i class="fa fa-facebook"></i></a>
        {% endif %}
        {% if delegate.legislator.youtube_url %}
        <li><a href="{{ delegate.legislator.youtube_url }}"><i class="fa fa-youtube"></i></a>
        {% endif %}
        {% if delegate.legislator.oc_email %}
        <li><a href="mailto:{{ delegate.legislator.oc_email|obfuscate }}"><i class="fa fa-envelope"></i></a>
        {% endif %}
        </ul>
        </h4>
    </div>
    {% if delegate.opponents.all %}
    <div class="col-xs-12 col-sm-7">
        <h3>Opponents</h3>
        <p>{{ delegate.title_and_name }} is being challenged by &mdash;</p>
        <ul class="list-unstyled">
        {% for o in delegate.opponents.all %}
        <div class="img-rounded opponent">
        <a href="{% url 'candidate_detail' pk=o.id %}">
            {% if o.image %}
                {% thumbnail o.image "x200" as im %}
                <img src="{{im.url}}"
                    width="{{im.width}}"
                    height="{{im.height}}"/>
                {% endthumbnail %}
            {% endif %}
            {{ o.name }}</a>
        <a type="button" class="btn btn-success">Donate!</a> 
        </div>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-xs-12 col-sm-4">
        {% if delegate.footnotes.all %}
        <h4 class="note">Notes</h4>
        {% for f in delegate.footnotes.all %}
        <p>[{{f.id}}] <a href="{{ f.url }}">{{ f.text }}</a></p>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
