{% load email_obfuscator %}
<div class="list-group-item">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <a href="{% url 'delegate_detail' pk=d.id %}">
                {{ d.name }},
                {% if d.legislator %}
                    {{ d.group.abbr }} {% if d.legislator.district %}({{ d.legislator.state }} {{d.legislator.district}}){% endif %}
                {% elif d.legislator %}
                    {{ d.group.abbr }} {% if d.legislator.district %}({{ d.legislator.state }} {{d.legislator.district}}){% endif %}
                {% else %}
                    {{ d.group.abbr }} ({{ d.state.state }})
                {% endif %}
            </a>
        </div>
        <div class="col-xs-12 col-sm-2">
                {% if d.candidate.name == 'Sanders' %}
                    <span class="sanders">
                    {{ d.candidate }}
                    </span>
                {% elif d.candidate.name == 'Clinton' %}
                    <span class="clinton">
                    {{ d.candidate }}
                    </span>
                {% else %}
                    <span class="uncommitted">
                    {{ d.candidate }}
                    </span>
                {% endif %}
        </div>
        <div class="col-xs-12 col-sm-2">
            <ul class='list-inline'>
            {% if d.twitter_id %}
            <li><a target="_blank" href="https://twitter.com/{{ d.twitter_id }}"><i class="fa fa-twitter"></i></a>
            {% elif d.legislator.twitter_id %}
            <li><a target="_blank" href="https://twitter.com/{{ d.legislator.twitter_id }}"><i class="fa fa-twitter"></i></a>
            {% endif %}
            {% if d.facebook_id %}
            <li><a target="_blank" href="https://facebook.com/{{ d.facebook_id }}"><i class="fa fa-facebook"></i></a>
            {% elif d.legislator.facebook_id %}
            <li><a target="_blank" href="https://facebook.com/{{ d.legislator.facebook_id }}"><i class="fa fa-facebook"></i></a>
            {% endif %}
            {% if d.email %}
            <li><a href="mailto:{{ d.email|obfuscate }}"><i class="fa fa-envelope"></i></a>
            {% elif d.legislator.oc_email %}
            <li><a href="mailto:{{ d.legislator.oc_email|obfuscate }}"><i class="fa fa-envelope"></i></a>
            {% endif %}
            {% if d.webform_url %}
            <li><a target="_blank" href="{{ d.webform_url }}"><i class="fa fa-envelope-o"></i></a>
            {% endif %}
            {% if d.website_url %}
            <li><a target="_blank" href="{{ d.website_url }}"><i class="fa fa-globe"></i></a>
            {% endif %}
            </ul>
        </div>
        {% if d.opponents.all %}
        <div class="col-xs-12 col-sm-4">
            Challenger{{ d.opponents.all.count|pluralize }}:
            {% for o in d.opponents.all %}
            <span class="sanders">
                <a href="{% url 'candidate_detail' pk=o.id %}">{{ o.name }}</a></span>{% spaceless %}{% if not forloop.last %},<br/>{% endif %}{% endspaceless %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
