{% extends "base.html" %}
{% block title %}Dear Superdelegate,{% endblock %}
{% block canonical_url %}{{ request.build_absolute_uri }}{% endblock %}
{% block og_url %}{{ request.build_absolute_uri  }}{% endblock %}
{% block og_title %}Dear Superdelegate,{% endblock %}
{% block og_description %}Contact your Superdelegates, and find out who's running against them!{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 intro">
        <div class="header center-block">
            <h1 class="">Dear Superdelegate,</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 intro">
        <h3>
        Let your Superdelegate know how you feel!
        </h3>

        <p>Here's all the information you need to contact
        your state's Democratic Superdelegates or the at-large ones.  Telephone,
        Email, Twitter, Facebook, YouTube &ndash; even snail mail
        addresses.<br/>You can 
        <a href="{% url 'delegate_list'%}">find your Superdelegate here</a>.
        </p>

        <p>Many Superdelegates are very nice people doing their best in
        a system they didn't create.  If you choose to contact them
        <em>everyone</em> will appreciate the respectful tone you use.</p>

        <p>You can also see which Superdelegates are facing primary
        challenges.
        </p>

        <p>It turns out there are <a href="{% url 'candidate_list' %}">
            quite a few <strong>"Bernie Candidates"</strong></a> out there.
        Some are incumbents and a good
        number are running for the first time.  If you want to
        encourage them by making a donation they will surely appreciate it!<p>

        <p>In some cases, the Superdelegates seem to be remarkably out of
        step with the voters in their state.  There is a
        <a href="{% url 'chart' %}">Superdelegate chart</a> for each state
        which gives a graphic representation of the delegate and Superdelegate
        relationship.</p>

        {% comment %}
        <ul class="list-unstyled">
        <li><a href="https://www.washingtonpost.com/politics/democratic-party-fundraising-effort-helps-clinton-find-new-donors-too/2016/02/19/b8535cea-d68f-11e5-b195-2e29a4e13425_story.html">Democratic Party fundraising effort helps Clinton find new donors, too</a>
        <li><a href="http://www.npr.org/2015/12/23/460762853/how-hillary-clinton-could-ask-a-single-donor-for-over-700-000">How Hillary Clinton Could Ask A Single Donor For Over $700,000</a>
        <li>The Director of Party Affairs & Delegate Selection at the Democratic National Committee attempts to 
    <a href="https://medium.com/@patricetaylor/here-are-the-actual-facts-about-super-delegates-7660c5c7dd1#.c4j94nyzq">
        explain the function</a> of Super Delegates.  I thought it would only be fair to hear the other side.  The article itself is weak, but the comments following it are great. 
    </ul>
        {% endcomment %}
    </div>
</div>
{% endblock %}
