{% extends "base.html" %}
{% block content %}
<h1 class="text-center">Dear Superdelegate,</h1>
<p>{% lorem 3 p %}
<ul class="list-unstyled">
    <li><a href="https://www.washingtonpost.com/politics/democratic-party-fundraising-effort-helps-clinton-find-new-donors-too/2016/02/19/b8535cea-d68f-11e5-b195-2e29a4e13425_story.html">Democratic Party fundraising effort helps Clinton find new donors, too</a>
    <li><a href="http://www.npr.org/2015/12/23/460762853/how-hillary-clinton-could-ask-a-single-donor-for-over-700-000">How Hillary Clinton Could Ask A Single Donor For Over $700,000</a>
    <li>The Director of Party Affairs & Delegate Selection at the Democratic National Committee attempts to 
<a href="https://medium.com/@patricetaylor/here-are-the-actual-facts-about-super-delegates-7660c5c7dd1#.c4j94nyzq">
    explain the function</a> of Super Delegates.  I thought it would only be fair to hear the other side.  The article itself is weak, but the comments following it are great. 
</ul>
{% endblock %}Super 
