{% extends "base.html" %}
{% load humanize %}
{% block title %}{{ state.name }} Superdelegate Chart{% endblock %}
{% spaceless %}
{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}
{% block og_title %}{{ state.name }} Superdelegate Chart{% endblock %}
{% block og_description %}A comparison of delegates and Superdelegates.{% endblock %}
{% endspaceless %}
{% block content %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<h2 class="text-center">{{ state.name }} Delegates</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6">
            <p>Comparison of pledged and unpledged "Super" delegates.</p>
            <div id="delegate-chart"></div>
            <div id="delegate-table">
                <table class="table table-responsive table-striped">
                    <tr><th>Candidate</th><th>Pledged</th><th>Super</th></tr>
                    {% for d in series_data %}
                        <tr><td>{{d.name|intcomma}}</td>
                            <td>{{d.pcount|intcomma}}</td>
                            <td>{{d.scount|intcomma}}</td>
                        </tr>
                    {% endfor %}
                </table>
                <p class="chart-picker">
                Who are the <a href="{% url 'delegate_list' state.state %}">
                    {{ state.name }} Superdelegates
                </a>?
                </p>
                {% include "adrestia/chart_picker.html" %}
                <p class="chart-picker">
                    View the <a href="{% url 'chart' %}">national chart</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% include "adrestia/chart.js" %}
{% endblock %}
